.products{
    // width: 224px;
    // height: 448px;
    /* border: thin solid red; */
}
.product-image{
    width: 224px;
    height: 326px;
    /* border: thin solid blue; */
}
.images{
    width: 224px;
    /* height: 304px; */
}
.product-name{
    font-family: "Poppins" sans-serif;
    font-size: 15px;
    font-weight: 650;
    padding-left: 7px;
}
.product-amount{
    font-family: "Poppins" sans-serif;
    font-size: 15px;
    font-weight: 630;
}
.addtocart{
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}